.env
node_modules
built
build

# dev files & obsolete
src/indes.copy.ts
src/server
src/utils/fwTest.js



test/auth.test.ts
package-lock.json

src/giftCard/pettysavetesting-firebase-adminsdk-wtezv-8cb77f85a4.json